<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE:edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% block title %}
    <title>Web Contacts</title>
    {% endblock %}
    <!--<link type="text/css" href="{{ url_for('static', filename='scripts/main.css',_external=True) }}" rel="stylesheet"> -->
    <link type="text/css" href="http://localhost:3000/styles/main.css" rel="stylesheet">
</head>
    {% block body %}
    <body>
        {% block contact %}{% endblock %}
        <script type="text/javascript" src="http://localhost:3000/scripts/main.js"></script>
         <!--<script type="text/javascript" src="{{ url_for('static',filename='scripts/main.js', _external=True) }}"></script>-->
    </body>
    {% endblock %}
</html>
