<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Web Contacts</title>
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js', _external=True) }}"></script>
        <link type="text/css" href="{{ url_for('static', filename='scripts/main.css', _external=True) }}" rel="stylesheet"> -->
        <script type="text/javascript" src="http://localhost:3000/scripts/main.js"></script>
        <link type="text/css" href="http://localhost:3000/styles/main.css" rel="stylesheet">
    </head>
    <body>
        {% block contact %}{% endblock %}
    </body>
</html>
