{% import 'macro.html' as macro %}


{% extends 'base.html' %}
{% block contact %}
    <div id="main-container" class="container row">
        <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-2 col-xs-12">
            <div class="page-header"><h3><strong>Contact Info</strong></h3>
            </div>
            <div>
                <h1>
                    {{- contact.first_name if contact.first_name else "" }} {{ contact.last_name if contact.last_name else "" -}}
                </h1>
            </div>
            <div>
                <table class="table table-hover table-striped">
                    <tbody>
                    <tr>
                        <td class='text-right'><strong>Company</strong></td>
                        <td>{{ contact.company }}</td>
                    </tr>
                    <tr>
                        <td class='text-right'><strong>Job Title:</strong></td>
                        <td>{{ contact.job_title }}</td>
                    </tr>
                    <tr>
                        <td class='text-right'><strong>Phone Number:</strong></td>
                        <td>{{ contact.phone_number }}</td>
                    </tr>
                    <tr>
                        <td class='text-right'><strong>Email:</strong></td>
                        <td>{{ contact.email }}</td>
                    </tr>
                    <tr>
                        <td class='text-right'><strong>Address:</strong></td>
                        <td>{{ contact.address1 }}
                            <br>
                            {{ contact.city }}, {{ contact.state }} {{ contact.zip }}
                        </td>
                    </tr>
                    <tr>
                        <td class='text-right'><strong>Comments:</strong></td>
                        <td>{{ contact.comments }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="list-container"
             class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12">
            <div class="page-header"><h3><strong>Contacts</strong></h3>
            </div>
            <ul class="list-unstyled">
                {% for list_contact in all_contacts %}
                    <li {% if contact.id == list_contact.id %}
                        class='active-item' {% endif -%}>
                        <a {% if contact.id == list_contact.id %}
                            class='active-item' {% endif -%} href="{{ list_contact.id }}">
                            {{ list_contact.first_name }} {{ list_contact.last_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- New Contact Button trigger modal -->
        <div class="col-lg-2 col-lg-offset-3 vertical-align">
            <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#new_contact">
                New Contact
            </button>
        </div>
        <!-- New Contact Button trigger modal -->
        <div class="col-lg-2 col-lg-offset-3 vertical-align">
            <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#edit_contact">
                Edit Contact
            </button>
        </div>
        <!-- Edit Contact Modal -->
        <div class="modal fade" id="edit_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><strong>Edit Contact</strong></h4>
                    </div>
                    <div class="modal-body">
                        {{  macro.contact_form(edit_form, 'edit_form', contact.id) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" form="edit_form" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- New Contact Modal -->
        <div class="modal fade" id="new_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><strong>Add New Contact</strong></h4>
                    </div>
                    <div class="modal-body">
                        {{  macro.contact_form(new_form, 'new_form', 'add_new_contact') }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" form="new_form" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
