{% macro contact_form(my_form, form_id, my_action_url) %}
    <form id="{{ form_id }}" method="post" action="{{ '/' + my_action_url|string() }}">
        <fieldset class="form-group">
            {{ my_form.hidden_tag() }}
            {% for field in my_form if field.widget.input_type != 'hidden' %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field(class_="form-control") }}
            </div>
            {% endfor %}
        </fieldset>
    </form>
{% endmacro %}


{% macro get_error_messages(category='message') %}
    {% with messages = get_flashed_messages(True, [category]) %}
      {% if messages %}
        <ul class="list-unstyled form-errors">
        {% for category, message  in messages %}
          <li class="alert alert-info">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
{% endmacro %}
